graft hugo

include LICENSE LICENSE-hugo.txt README.md CODE_OF_CONDUCT.md SECURITY.md pyproject.toml setup.py setup.cfg
exclude hugo/binaries/hugo-*

global-exclude __pycache__ *.py[cod] *.so *.dylib .DS_Store .venv
