graft src/hugo
graft hugo
prune docs

include LICENSE LICENSE-hugo.txt README.md CODE_OF_CONDUCT.md SECURITY.md pyproject.toml setup.py setup.cfg
exclude src/hugo/binaries/hugo-*

# Exclude some files from the Hugo submodule that are too large that they
# inflate the sdist. They are not needed for building.
prune hugo/docs
prune hugo/testscripts
recursive-exclude hugo testdata/*

global-exclude __pycache__ *.py[cod] *.so *.dylib .DS_Store .venv .git
