name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3
  CIBW_SKIP: "pp* *musllinux*"
  CIBW_BUILD_FRONTEND: "build"

permissions: {}

jobs:
  style:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12

      - name: Run style checks
        run: pipx run pre-commit run --all-files

  build_wheels:
    needs: [style]
    name: ${{ matrix.runs-on }}-python-${{ matrix.python-version }}
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.13", "3.14"]
        runs-on:
          [
            ubuntu-latest,
            ubuntu-22.04-arm,
            macos-15-intel,
            macos-latest,
            windows-latest,
          ]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Set up Go toolchain
        id: setup-go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.4"
          cache: false
          check-latest: true

      - name: Install MinGW on Windows
        if: matrix.runs-on == 'windows-latest'
        run: choco install mingw

      - name: Restore Hugo builder cache
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: ./hugo_cache/
          key: ${{ matrix.runs-on }}-hugo-${{ steps.setup-go.outputs.go-version }}

      - name: Install Python dependencies
        run: python -m pip install build virtualenv nox

      - name: Build binary distribution (wheel)
        run: |
          python -m build --wheel . --outdir wheelhouse/

      - name: Test entry points for package
        run: nox -s venv

  # TODO: add aarch64 to x86_64 cross-compilation for Linux
  experimental:
    needs: [style]
    name: zig-${{ matrix.runs-on }}-${{ matrix.architecture }}-python-${{ matrix.python-version }}
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, windows-latest]
        architecture: [arm64, i686]
        python-version: ["3.10", "3.13", "3.14"]
        # Exclude i686 on Linux for all Python versions
        # Test just one Python version on Windows for now
        exclude:
          - runs-on: ubuntu-latest
            architecture: i686
          - python-version: "3.10"
            runs-on: windows-latest
          - python-version: "3.14"
            runs-on: windows-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Set up Go toolchain
        id: setup-go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.4"
          cache: false
          check-latest: true

      - name: Restore Hugo builder cache
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: ./hugo_cache/
          key: zig-${{ matrix.runs-on }}-${{ matrix.architecture}}-hugo-experimental-${{ steps.setup-go.outputs.go-version }}

      - name: Install Python dependencies
        run: python -m pip install build virtualenv nox auditwheel

      - name: Build binary distribution (wheel) on Linux
        if: matrix.runs-on == 'ubuntu-latest'
        # Cross-compile for arm64 target via Zig toolchain
        env:
          USE_ZIG: 1
          GOOS: linux
          GOARCH: arm64
        run: |
          python -m build --wheel . --outdir wheelhouse/
        # can't repair arm64 wheels on Linux x86_64 right now
        # auditwheel repair --plat manylinux_2_28_aarch64 -w wheelhouse/ dist/*.whl

      - name: Build binary distribution (wheel) on Windows (arm64)
        if: matrix.runs-on == 'windows-latest' && matrix.architecture == 'arm64'
        # We need to use cibuildwheel because it has experimental support for cross-compiling
        # to arm64 and setup-python does not have arm64 support on Windows right now
        uses: pypa/cibuildwheel@63fd63b352a9a8bdcc24791c9dbee952ee9a8abc # v3.3.0
        with:
          package-dir: .
          output-dir: wheelhouse
        # Cross-compile for arm64 target via Zig toolchain
        env:
          USE_ZIG: "1"
          GOOS: windows
          GOARCH: arm64
          CIBW_BUILD: "cp312-*"
          CIBW_ARCHS_WINDOWS: ARM64
          CIBW_BEFORE_BUILD_WINDOWS: "pip install delvewheel"
          CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: delvewheel repair -w {dest_dir} {wheel}
          CIBW_TEST_SKIP: "*-win_arm64"

        # Note: cibuildwheel will manage installing 32-bit Python on Windows. We
        # do not need to do that manually unless we use setup-python instead.
      - name: Build binary distribution (wheel) on Windows (i686)
        if: matrix.runs-on == 'windows-latest' && matrix.architecture == 'i686'
        uses: pypa/cibuildwheel@63fd63b352a9a8bdcc24791c9dbee952ee9a8abc # v3.3.0
        with:
          package-dir: .
          output-dir: wheelhouse
        # Cross-compile for i686 target via Zig toolchain
        env:
          USE_ZIG: "1"
          GOOS: windows
          GOARCH: 386
          CIBW_BUILD: "cp312-*"
          CIBW_ARCHS_WINDOWS: x86
          CIBW_BEFORE_BUILD_WINDOWS: "pip install delvewheel"
          CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: delvewheel repair -w {dest_dir} {wheel}
          CIBW_TEST_COMMAND: |
            hugo version
            hugo env --logLevel debug

      - name: Upload artifacts for debugging
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wheels_${{ matrix.runs-on }}_${{ matrix.architecture }}_py${{ matrix.python-version }}
          path: ./wheelhouse/*.whl

  inspect_distributions:
    needs: [style]
    name: inspect-sdist-wheel-contents
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12

      - name: Build source distribution (SDist) and binary distribution (wheel)
        run: |
          pipx run build --sdist --wheel . --outdir dist/
          pipx run twine check dist/* --strict

      - name: Build, inspect, and display contents of distributions
        shell: bash
        run: |
          mkdir -p output/sdist
          tar -xf dist/*.tar.gz -C output/sdist

          echo -e '## View source distribution (SDist) contents\n' >> $GITHUB_STEP_SUMMARY
          echo -e '```\n' >> $GITHUB_STEP_SUMMARY
          (cd output/sdist && tree -a * | sed 's/^/    /' | tee -a $GITHUB_STEP_SUMMARY)
          echo -e '\n```\n' >> $GITHUB_STEP_SUMMARY

          mkdir -p output/wheel
          pipx run wheel unpack dist/*.whl -d output/wheel

          echo -e '## View binary distribution (wheel) contents\n' >> $GITHUB_STEP_SUMMARY
          echo -e '```\n' >> $GITHUB_STEP_SUMMARY
          (cd output/wheel && tree -a * | sed 's/^/    /' | tee -a $GITHUB_STEP_SUMMARY)
          echo -e '\n```\n' >> $GITHUB_STEP_SUMMARY
